<h1>Pirate Info</h1>
  <h2><%= @p_name %></h2>
  <h3><%= @p_weight %></h3>
  <h3><%= @p_height %></h3>
<h2>First Ship</h2>
  <% @ship_1.each do |k, v| %>
    <h3><%= "#{k.capitalize}: #{v}" %></h3>
  <% end %>
<h2>Second Ship</h2>
  <% @ship_2.each do |k, v| %>
    <h3><%= "#{k.capitalize}: #{v}" %></h3>
  <% end %>